/* Estilos para telas grandes (PCs) */
body {
  font-size: 16px;
}

/* Estilos para tablets */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Estilos para celulares */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}











/* Este arquivo geralmente contém os estilos globais do seu aplicativo. 
Estilos que se aplicam a toda a aplicação, como reset de CSS, tipografia global, etc., 
são geralmente definidos aqui.
Você pode modificar este arquivo para adicionar estilos globais e para aplicar media queries que tornem o layout responsivo para diferentes tamanhos de tela (PC, notebook, celular). */